body{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: hsl(200, 50%, 90%);
}

#myH1{
    font-size: 4em;
    font-family: Arial, sans-serif;
    color:#333;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px;
    border-radius: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 50px;
}
#display{
    font-size: 5rem;
    font-family:    monospace;
    font-weight: bold;
    margin-bottom: 25px;
    color: #hsl (0, 0%, 20%);
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    min-width: 125;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.5s;
}
#startBtn{
    background-color: hsl(120, 78%, 55%);
}

#startBtn:hover{
    background-color: hsl(120, 59%, 26%);
}

#stopBtn{
    background-color: hsl(0, 75%, 50%);
}
#stopBtn:hover{
    background-color: hsl(0, 59%, 26%);
}
#resetBtn{
    background-color: hsl(240, 70%, 40%);
}
#resetBtn:hover{
    background-color: hsl(240, 59%, 26%);
}